


.navigation {
    background: #fff;
    width: 200px;
    height: 100%;
    display: block;
    position: fixed;
    left: -200px;
    top: 0px;
    transition: left 0.3s linear;
    margin: 0;
    border: 0;
    border-radius: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

    .navigation.visible {
        left: 0px;
        transition: left 0.3s linear;
    }

.nav_bg {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 50px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #009788;
    padding: 12px 0 0 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.nav_bar {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    cursor: pointer;
    margin: 0;
}

    .nav_bar span {
        height: 2px;
        background: #fff;
        margin: 5px;
        display: block;
        width: 20px;
    }

        .nav_bar span:nth-child(2) {
            width: 20px;
        }

        .nav_bar span:nth-child(3) {
            width: 20px;
        }

.navigation ul {
    padding-top: 50px;
}

.navigation li {
    display: block;
}

    .navigation li a {
        display: block;
        color: #505050;
        font-weight: 500;
    }

    .navigation li:first-child:hover a {
        border-radius: 0;
    }

    .navigation li ul.dropdown {
        position: relative;
    }

        .navigation li ul.dropdown li a {
            background: #00695b !important;
            border-bottom: none;
            color: #fff !important;
        }

    .navigation li:hover a {
        background: #009788;
        color: #fff !important;
    }

    .navigation li ul.dropdown li:hover a {
        background: #56b5ae !important;
        color: #fff !important;
    }

    .navigation li ul.dropdown li a {
        padding: 10px 10px 10px 30px;
    }

    .navigation li:hover .arrow-down {
        border-top: 5px solid #fff;
    }

.arrow-down {
    border-top: 5px solid #505050;
    position: absolute;
    top: 20px;
    right: 10px;
}

.opacity {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
